<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <location path="config.json">
          <system.webServer>
               <staticContent>
                    <clientCache cacheControlMode="DisableCache" />
               </staticContent>
          </system.webServer>
     </location>

     <system.webServer>
          <rewrite>
               <rules>
                    <rule name="DynamicContent">
                         <conditions>
                              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                         </conditions>
                         <action type="Rewrite" url="index.html" />
                    </rule>
               </rules>
          </rewrite>
     </system.webServer>

</configuration>